/* Goofle font import */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Limelight&display=swap');

/* astric selector to remove default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Didact Gothic", sans-serif;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../images/background1.webp) no-repeat center center / cover;
}

/*  Heading Styles */
h1 {
    font-family: "Limelight", "Didact Gothic", sans-serif;
    font-size: 160%;
    padding: 5px 10px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h2 {
    font-family: "Limelight", "Didact Gothic", sans-serif;
    font-size: 150%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C0A557;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #C0A557;
    padding: 0 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

table {
    width: 75%;
    min-width: 270px;
    padding: 10px;
}

th, td {
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 30px;
    padding-left: 10px;
}

th {
    font-weight: 600;
}

.nameLeaderboard {
    width: 75%;
    text-align: left;
    padding: 0 10px;
}

/* general button styling */
.btn {
    padding: 2px 10px;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 600;
    width: 200px;
    margin: 5px 0;
    cursor: pointer; /* change to an image? */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.40) 0 10px 15px;
    color: #D5C27C;
    background: linear-gradient(#1C3124, #33391E, #1C3124);
    font-size: 1.1rem;
}

/* styling the return button */
.return-button{
    padding: 2px 10px;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 600;
    width: 75px;
    cursor: pointer; /* change to an image? */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.40) 0 10px 15px;
    color: #33391E;
    background: linear-gradient(#C0A557, #D5C27C, #C0A557);
    font-size: 1rem;
    position: absolute;
    bottom: 5px;
    margin: auto;
}

/* undesrtood the whole border image concept through the following video: https://www.youtube.com/watch?v=ypstT5UfCsk*/
.quiz-body{
    width: 93%;
    height: 60%;
    min-height: 350px;
    max-width: 700px;
    background-image: linear-gradient(#084139ef, #305c32e1, #2f5c32de, #084139ef);
    border: 40px solid #084139ef;
    border-image-source: url(../images/border-image.png);
    border-image-slice: 1166;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: #084139ef;*/
    margin: 0;
    padding: 20px;
}

/* Logo image styling */
.logo-image {
    height: 90px;
}

#select-game-type h2{
    border-bottom: 2px solid #C0A557;
}

#name-of-player {
    width: 200px;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    background-image: linear-gradient(#d5c27cee, #c0a657f5, #d5c27cf3);
    color: #084139;
    line-height: 23px;
}

/* when text input is fucesd its border will change */

#name-of-player:focus {
    outline-color: #084139;
    border: #084139;
}

/* do detailed styling, box shadow + hover-effect of buttons -> seperate effect for in-game-buttons */
/* using modal for buttons
got code from: https://www.w3schools.com/howto/howto_css_modals.asp */
.hidden{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
}

#modal-how-to-play, 
#modal-leaderboard,
#game-content-container{
    margin: auto;
    padding: 20px;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95%;
    background-image: linear-gradient(#08462e, #084139, #094139, #084139, #08462e);
    color: #C0A557;
    letter-spacing: 1px;
    line-height: 1.3em;
    font-size: 1em;
    text-align: justify;
    border: 10px solid #08462e;
    border-image-source: url(../images/border-image.png);
    border-image-slice: 100;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5px 15px;
    overflow-y:auto;
}

#leaderboardTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#end-of-game-container {
    margin: auto;
    padding: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    background-image: linear-gradient(#084139fd, #305c32fa, #2f5c32f8, #084139);
    border: 10px solid #084139;
    border-image-source: url(../images/border-image.png);
    border-image-slice: 100;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5px 15px;
}

#end-of-game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#finish-sentence,
#would-you-kindly {
    color: #C0A557;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2rem;
    padding: 5px;
}

#restart-game-container {
    margin: auto;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35%;
    background-image: linear-gradient(#084139fd, #305c32fa, #2f5c32f8, #084139);
    border: 10px solid #084139;
    border-image-source: url(../images/border-image.png);
    border-image-slice: 100;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5px 15px;
}

/* Question and Timer section */
#all-game-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 8px;
}

#question {
    font-size: 1.2rem;
    font-weight: 600;
}

#container-game-information {
    font-size: 0.9rem;
    line-height: 1.1rem;
    width: 100%;
    text-align: left;
    padding-top: 8px;
}

/* make score & questions left appear */
#score-and-questions-left-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 3px;
}

.in-game-btn {
    width: 80%;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    padding: 5px 10px;
    background-image: linear-gradient(#B0C2BF, #d9ece9, #B0C2BF);
    color: #212424;
}

/* make answers wrap for horizontal screens */
#container-answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

/* next button to be styled and centered */

#container-next{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#next-btn{
    display: none;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    text-align: center;
    padding: 5px 10px;
    background-image: linear-gradient(#212424, #2b2e2d, #212424);
    color: #B0C2BF;
    align-self: center;
    font-size: 1em;
}

.true-answer {
    background-color: green;
    background-image: linear-gradient(#84c469, #6fa854, #84c469);
    color: white;
    transition: 0.5s;
}

.false-answer {
    background-color: red;
    background-image: linear-gradient(#e48f79, #E17A61, #e48f79);
    color: white;
    transition: 0.5s;
}

/* will only work on non disabled buttons */
.btn:hover:not([disabled]){

}

/* to give visual hint that buttons are no longer selectable */
.btn:disabled {
    cursor: no-drop;
}

/* time-bar visualization for the countdown timer */

#countdown-bar > p {
    white-space: nowrap;
    padding: 2px 10px;
    color: #D5C27C;
}

#container-timer{
    width: 100%;
    background-color: #0C1925;
    border-radius: 5px;
    transition: 0.5s ease;
    border: 2px solid #D5C27C;
}

#countdown-bar {
    width: 100%;
    /*background: linear-gradient(to tomato, #e26882, #f3f3f3);*/
    background-image: linear-gradient(#33391E , #1C3124, #475715, #1C3124, #33391E);
    border-radius: 5px;
    transition: 0.5s ease;
}

/* Media:query add responsiveness horizontal smaller phones(500px and up)*/
@media screen and (min-width: 500px) {
    /* for horizontal screening*/
    #choose-game-buttons,
    #game-info-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    #restart-game-container {
        width: 40%;
    }
}

/* Media:query add responsiveness for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* heading and anchor element styling */
    h1 {
        font-size: 280%;
        padding: 10px 20px;
        letter-spacing: 1.5px;
        gap: 8px;
    }
    .logo-image {
        height: 120px;
    }
    h2 {
        font-size: 150%;
        padding: 10px 5px;
        font-style: normal;
        font-weight: 400;
    }

    /* change quiz body's dimensions */
    .quiz-body{
        width: 80%;
        max-height: 550px;
    }

    /* unset for larger mobile devices */
    #game-info-buttons {
        display: unset;
        flex-wrap: unset;
        justify-content: unset;
    }

    /* add hover effects for buttons */
    .btn:hover {
        box-shadow: unset;
        box-shadow: rgba(213, 194, 124, 0.80) 0px 5px 15px;
    }

    /* make buttons and input field larger on bigger screens */
    .btn {
        font-weight: 600;
        width: 270px;
        font-size: 1.2em;
        letter-spacing: 1px;
        min-height: 40px;
    }

    #name-of-player {
        width: 270px;
        font-size: 1.2rem;
        line-height: 40px;
    }

    /* make modals and their contents responsive */
    #modal-how-to-play, 
    #modal-leaderboard,
    #game-content-container{
        padding: 20px 30px;
        width: 80%;
        max-width: 1200px;
        letter-spacing: 1px;
        line-height: 1.5em;
        font-size: 1.2rem;
    }

    .return-button{
        bottom: 5%;
    }

    table {
        width: 80%;
        min-width: 500px;
        max-width: 650px;
    }

    /* make quiz buttons larger */
    .in-game-btn {
        width: 80%;
        min-width: 600px;
        text-align: left;
        padding: 0 10px;
    }
    
    /* answer buttons still wrap correctly */
    .in-game-btn {
        width: 80%;
        min-width: 250px;
        max-width: 300px;
        text-align: center;
        padding: 5px 10px;
        font-size: 1em;
    }
}

/* Media:query add responsiveness large screens (992px and up)*/
@media screen and (min-width: 992px) {
    .quiz-body{
        width: 70%;
    }

    #modal-how-to-play, 
    #modal-leaderboard,
    #game-content-container{
        width: 70%;
        height: 60%;
        min-height: 650px;
    }

    .in-game-btn {
        max-width: 450px;
    }

    #question {
        font-size: 1.3rem;
    }

    #answers,#all-game-data {
        width: 90%;
    }

    #container-game-information {
        font-size: 1rem;
    }
    
}